.year {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.year__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.year__picture img {
  width: 100%;
  max-width: 720px;
}
