
@font-face {
  font-family: 'Bello-Script';
  src: url('Bello-Script.eot?#iefix') format('embedded-opentype'),  url('Bello-Script.woff') format('woff'), url('Bello-Script.ttf')  format('truetype'), url('Bello-Script.svg#Bello-Script') format('svg');
  font-weight: normal;
  font-style: normal;
}
