/* ----- Reset ----- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}





/* ----- Layout -----  */

body {
    font: 62.5%/1 "Open Sans", sans-serif;
    background: url("../img/pattern.png") 0 0 repeat #498cd0;
    color: #fff;
}

.wrapper {
    width: 100%;
    height: 100%;
    font-size: 1.8em;
}

.inner {
    width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

.header {
    background-color: #fff;
}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}





/* ----- Header ----- */

.header__logo {
    position: relative;
    top: -5px;
    display: inline-block;
    width: 193px;
    height: 41px;
    padding: 48px 0 0;
    box-sizing: border-box;
    background: url("../img/logo.png") 0 0 no-repeat;
    font-size: 62.5%;
    font-weight: 600;
    text-align: justify;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
}

.header__title {
    font-size: 155%;
    font-weight: 100;
    line-height: 36px;
    color: #1a567e;
}

.header__phones {
    font-size: 133.333%;
    font-weight: 100;
}

.header__phones-link {
    display: inline-block;
    line-height: 36px;
    text-decoration: none;
    color: #1a567e;
}

.header__phones-link_state_padded {
    margin: 0 0 0 50px;
}





/* ----- Rows common ----- */

.row__title {
    text-align: center;
    font-size: 266.75%;
    font-weight: 100;
    line-height: 50px;
    color: #fff;
}

.row__title-caption {
    margin: 20px 0 0;
    text-align: center;
    font-size: 112.5%;
    font-weight: 100;
    line-height: 24px;
}

.row__button-arrowed {
    position: relative;
}

    .row__button-arrowed:before,
    .row__button-arrowed:after {
        display: block;
        position: absolute;
        top: 0;
        width: 50px;
        height: 31px;
        background: url("../img/icons/arrow1.svg") center center no-repeat;
        content: "";
    }

    .row__button-arrowed:before {
        left: -60px;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
    }

    .row__button-arrowed:after {
        right: -60px;
    }

.service__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0 40px;
}

.service__item {
    width: 100%;
    max-width: 200px;
    padding: 0 15px;
    text-align: center;
}

.service__icon {
    position: relative;
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto 15px;
}

    .service__icon:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 120px;
        height: 120px;
        background: url("../img/icons/bg.svg") center center no-repeat;
        content: "";
    }

.service__title {
    font-weight: 100;
    line-height: 24px;
}





/* ----- First row ----- */

.first-row {
    padding: 60px 0;
}

.first-row__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 60px;
    padding: 18px;
    box-sizing: border-box;
    border: 2px solid #86abd1;
    border-radius: 7px;
    background-color: #5693d1;
}

.first-row__form-item {
    width: 100%;
    max-width: 300px;
    padding: 0 20px 0 0;
}

.first-row__form-button {
    width: 200px;
    text-align: center;
}

.first-row__pre-table {
    background-color: #66aaed;
    width: 340px;
    height: 40px;
    line-height: 40px;
    float: right;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    color: #fff;
}

.first-row__table-wrapper {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
}

.first-row__table {
    width: 100%;
    border-radius: 5px 0 5px 5px;
    overflow: hidden;
}

.first-row__table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    font-weight: 100;
    color: #222;
}

    .first-row__table-row:nth-child(even) {
        background-color: #f2f9ff;
    }

.first-row__table-heading {
    background-color: #66aaed;
    font-weight: 600;
    color: #fff;
}

.first-row__heading-cell {
    line-height: 40px;
    height: 40px;
    padding: 0;
}

    .first-row__heading-cell:nth-child(2) {
        background-color: #7db5ed;
    }

    .first-row__heading-cell:nth-child(3) {
        background-color: #8ebeed;
    }

.first-row__table-cell {}

.first-row__type-cell {
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
}

.first-row__price-cell {
    width: 100%;
    max-width: 170px;
    text-align: center;
    padding: 2px 0;
}

    .first-row__price-cell:hover {
        background-color: #66aaed;
    }

.first-row__price-button {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

    .first-row__price-button:hover {
        background-color: #66aaed;
    }

    .first-row__price-button:hover .price,
    .first-row__price-button:hover .word {
        color: #fff;
    }

    .first-row__price-button:hover .word {
        border-color: transparent;
    }

    .price,
    .word {
        position: relative;
    }

    .price {
        top: 1px;
        display: block;
        color: #222;
    }

    .word {
        top: -3px;
        display: inline-block;
        color: #5693d1;
        text-transform: uppercase;
        border-bottom: 1px solid #acc6e6;
        font-size: 62.5%;
    }





/* ----- Second row ----- */

.second-row {
    padding: 0 0 40px;
    border-bottom: 1px solid #86abd1;
}

    .second-row .button {
        font-weight: 600;
    }

.service__icon_1 {
    background: url("../img/icons/icon1.svg") center center no-repeat;
}

.service__icon_2 {
    background: url("../img/icons/icon2.svg") center center no-repeat;
}

.service__icon_3 {
    background: url("../img/icons/icon3.svg") center center no-repeat;
}

.service__icon_4 {
    background: url("../img/icons/icon4.svg") center center no-repeat;
}

.service__icon_5 {
    background: url("../img/icons/icon5.svg") center center no-repeat;
}





/* ----- Third row ----- */

.third-row {
    padding: 25px 0 0;
}

.third-row__arrow {
    display: block;
    width: 50px;
    height: 31px;
    background: url("../img/icons/arrow1.svg") center center no-repeat;
}

.third-row__arrow-top {
    margin: 30px 0 0;
    transform: rotate(210deg);
}

.third-row__arrow-bottom {
    margin: 70px 0 0;
    transform: scaleX(-1) rotate(20deg);
}

.service__icon_6 {
    background: url("../img/icons/icon6.svg") center center no-repeat;
}

.service__icon_7 {
    background: url("../img/icons/icon7.svg") center center no-repeat;
}

.service__icon_8 {
    background: url("../img/icons/icon8.svg") center center no-repeat;
}

.service__icon_9 {
    background: url("../img/icons/icon9.svg") center center no-repeat;
}





/* ----- Map row ----- */

.map-row {}





/* ----- Buttons ----- */

.button {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    cursor: pointer;
}

.button_color_blue {
    box-shadow: 0 1px 0 0 rgba(28, 86, 126, 1), inset 0 0 0 1px rgba(26,86,126,1), inset 0 0 0 2px rgba(45,151,220,1);
    background: rgba(45,150,220,1);
    background: -moz-linear-gradient(top, rgba(45,150,220,1) 0%, rgba(17,108,164,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45,150,220,1)), color-stop(100%, rgba(17,108,164,1)));
    background: -webkit-linear-gradient(top, rgba(45,150,220,1) 0%, rgba(17,108,164,1) 100%);
    background: -o-linear-gradient(top, rgba(45,150,220,1) 0%, rgba(17,108,164,1) 100%);
    background: -ms-linear-gradient(top, rgba(45,150,220,1) 0%, rgba(17,108,164,1) 100%);
    background: linear-gradient(to bottom, rgba(45,150,220,1) 0%, rgba(17,108,164,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d96dc', endColorstr='#116ca4', GradientType=0 );
    color: #fff;
    text-shadow: 0 1px 0 rgba(28, 86, 126, 1)
}

    .button_color_blue:hover {
        background: rgba(17,107,163,1);
        background: -moz-linear-gradient(top, rgba(17,107,163,1) 0%, rgba(45,150,220,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17,107,163,1)), color-stop(100%, rgba(45,150,220,1)));
        background: -webkit-linear-gradient(top, rgba(17,107,163,1) 0%, rgba(45,150,220,1) 100%);
        background: -o-linear-gradient(top, rgba(17,107,163,1) 0%, rgba(45,150,220,1) 100%);
        background: -ms-linear-gradient(top, rgba(17,107,163,1) 0%, rgba(45,150,220,1) 100%);
        background: linear-gradient(to bottom, rgba(17,107,163,1) 0%, rgba(45,150,220,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116ba3', endColorstr='#2d96dc', GradientType=0 );
    }

.button_color_gray {
    box-shadow: 0 1px 0 0 rgba(189, 189, 189, 1), inset 0 0 0 2px rgba(255, 255, 255, 1), inset 0 0 0 1px rgba(189, 189, 189, 1);
    background: rgba(244,244,244,1);
    background: -moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(220,220,220,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,244,244,1)), color-stop(100%, rgba(220,220,220,1)));
    background: -webkit-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(220,220,220,1) 100%);
    background: -o-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(220,220,220,1) 100%);
    background: -ms-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(220,220,220,1) 100%);
    background: linear-gradient(to bottom, rgba(244,244,244,1) 0%, rgba(220,220,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#dcdcdc', GradientType=0 );
    text-shadow: 0 1px 0 rgba(26, 86, 126, 1);
    color: #498fd6;
}

    .button_color_gray:hover {
        background: rgba(220,220,220,1);
        background: -moz-linear-gradient(top, rgba(220,220,220,1) 0%, rgba(244,244,244,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(220,220,220,1)), color-stop(100%, rgba(244,244,244,1)));
        background: -webkit-linear-gradient(top, rgba(220,220,220,1) 0%, rgba(244,244,244,1) 100%);
        background: -o-linear-gradient(top, rgba(220,220,220,1) 0%, rgba(244,244,244,1) 100%);
        background: -ms-linear-gradient(top, rgba(220,220,220,1) 0%, rgba(244,244,244,1) 100%);
        background: linear-gradient(to bottom, rgba(220,220,220,1) 0%, rgba(244,244,244,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#f4f4f4', GradientType=0 );
    }





/* ----- Fixes ----- */

.text-center {
    text-align: center;
}

