
@font-face {
  font-family: 'HelveticaNeueLTStd-BlkCn';
  src: url('HelveticaNeueLTStd-BlkCn.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTStd-BlkCn.otf')  format('opentype'),
	     url('HelveticaNeueLTStd-BlkCn.woff') format('woff'), url('HelveticaNeueLTStd-BlkCn.ttf')  format('truetype'), url('HelveticaNeueLTStd-BlkCn.svg#HelveticaNeueLTStd-BlkCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
