
@font-face {
  font-family: 'LuxuryRoyaleJF';
  src: url('LuxuryRoyaleJF.eot?#iefix') format('embedded-opentype'),  url('LuxuryRoyaleJF.woff') format('woff'), url('LuxuryRoyaleJF.ttf')  format('truetype'), url('LuxuryRoyaleJF.svg#LuxuryRoyaleJF') format('svg');
  font-weight: normal;
  font-style: normal;
}
