
@font-face {
  font-family: 'HelveticaNeueLTStd-ThCn';
  src: url('HelveticaNeueLTStd-ThCn.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTStd-ThCn.otf')  format('opentype'),
	     url('HelveticaNeueLTStd-ThCn.woff') format('woff'), url('HelveticaNeueLTStd-ThCn.ttf')  format('truetype'), url('HelveticaNeueLTStd-ThCn.svg#HelveticaNeueLTStd-ThCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
